<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KuratorSchool"
        tools:targetApi="31">
        <activity
            android:name=".activnost_detail"
            android:exported="false" />
        <activity
            android:name=".LectureDetailActivity"
            android:exported="false" />
        <activity
            android:name=".kur_info"
            android:exported="false" />
        <activity
            android:name=".add_activnost"
            android:exported="false" />
        <activity
            android:name=".activnosti_display"
            android:exported="false" />
        <activity
            android:name=".my_group_display"
            android:exported="false" />
        <activity
            android:name=".kur_group_menu"
            android:exported="false" />
        <activity
            android:name=".case1"
            android:exported="false" />
        <activity
            android:name=".test1"
            android:exported="false" />
        <activity
            android:name=".cases_display"
            android:exported="false" />
        <activity
            android:name=".tests_display"
            android:exported="false" />
        <activity
            android:name=".lections_display"
            android:exported="false" />
        <activity
            android:name=".kur_menu"
            android:exported="false" />
        <activity
            android:name=".zayavka_for_school"
            android:exported="false" />
        <activity
            android:name=".school_info"
            android:exported="false" />
        <activity
            android:name=".info_display"
            android:exported="false" />
        <activity
            android:name=".stud_menu"
            android:exported="false" />
        <activity
            android:name=".Authorization"
            android:exported="true"
            android:theme="@style/Theme.KuratorSchool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.KuratorSchool" />
    </application>

</manifest>